In [1]:
import pandas as pd

# Creating the DataFrame manually based on the image
data = {
    'Car Model': ['BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'BMW X5',
                  'Audi A5', 'Audi A5', 'Audi A5', 'Audi A5',
                  'Mercedez Benz C class', 'Mercedez Benz C class', 
                  'Mercedez Benz C class', 'Mercedez Benz C class'],
    'Mileage': [69000, 35000, 57000, 22500, 46000, 
                59000, 52000, 72000, 91000, 
                67000, 83000, 79000, 59000],
    'Sell Price($)': [18000, 34000, 26100, 40000, 31500, 
                      29400, 32000, 19300, 12000, 
                      22000, 20000, 21000, 33000],
    'Age(yrs)': [6, 3, 5, 2, 4, 
                 5, 5, 6, 8, 
                 6, 7, 7, 5]
}

df = pd.DataFrame(data)

# One-hot encoding the 'Car Model' column
df_encoded = pd.get_dummies(df, columns=['Car Model'])

# Display the result
print(df_encoded)

    Mileage  Sell Price($)  Age(yrs)  Car Model_Audi A5  Car Model_BMW X5  \
0     69000          18000         6                  0                 1
1     35000          34000         3                  0                 1
2     57000          26100         5                  0                 1
3     22500          40000         2                  0                 1
4     46000          31500         4                  0                 1
5     59000          29400         5                  1                 0
6     52000          32000         5                  1                 0
7     72000          19300         6                  1                 0
8     91000          12000         8                  1                 0
9     67000          22000         6                  0                 0
10    83000          20000         7                  0                 0
11    79000          21000         7                  0                 0
12    59000          33000         5                  0                 0

    Car Model_Mercedez Benz C class
0                                 0
1                                 0
2                                 0
3                                 0
4                                 0
5                                 0
6                                 0
7                                 0
8                                 0
9                                 1
10                                1
11                                1
12                                1